.u-section-1 {background-image: linear-gradient(0deg, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("images/back2.png"); background-position: 50% 50%}
.u-section-1 .u-sheet-1 {min-height: 354px}
.u-section-1 .u-text-1 {margin: 70px auto 0}
.u-section-1 .u-text-2 {margin: 7px auto 0}
.u-section-1 .u-text-3 {margin: 30px 0 60px} 

@media (max-width: 1199px){ .u-section-1 {background-size: 215%}
.u-section-1 .u-sheet-1 {min-height: 292px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 224px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 168px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 287px} }.u-section-2 .u-sheet-1 {min-height: 862px}
.u-section-2 .u-text-1 {margin: 20px 0 0}
.u-section-2 .u-text-2 {margin: 20px 0 0}
.u-section-2 .u-btn-1 {padding: 0}
.u-section-2 .u-image-1 {height: 497px; margin: 30px auto 60px 0} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 794px}
.u-section-2 .u-image-1 {height: 408px; margin-right: initial; margin-left: initial} }

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 749px}
.u-section-2 .u-image-1 {height: 313px; margin-right: initial; margin-left: initial} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 793px}
.u-section-2 .u-image-1 {height: 235px; margin-right: initial; margin-left: initial} }.u-section-3 .u-sheet-1 {min-height: 177px}
.u-section-3 .u-text-1 {font-weight: 900; margin: 60px 20px} 

@media (max-width: 1199px){ .u-section-3 .u-text-1 {margin-left: 0; margin-right: 0} }.u-section-4 .u-sheet-1 {min-height: 587px}
.u-section-4 .u-layout-wrap-1 {margin-top: 60px; margin-bottom: 60px}
.u-section-4 .u-layout-cell-1 {min-height: 234px}
.u-section-4 .u-container-layout-1 {padding: 30px}
.u-section-4 .u-image-1 {width: 167px; height: 184px; margin: -10px auto 0 0}
.u-section-4 .u-text-1 {margin: -165px auto 0}
.u-section-4 .u-text-2 {margin: 10px 0 0 187px}
.u-section-4 .u-layout-cell-2 {min-height: 234px}
.u-section-4 .u-container-layout-2 {padding: 30px}
.u-section-4 .u-image-2 {width: 167px; height: 184px; margin: -10px auto 0 0}
.u-section-4 .u-text-3 {margin: -174px 154px 0 auto}
.u-section-4 .u-text-4 {margin: 9px 162px 0 auto}
.u-section-4 .u-layout-cell-3 {min-height: 234px}
.u-section-4 .u-container-layout-3 {padding: 30px}
.u-section-4 .u-text-5 {margin: 20px 156px 0 auto}
.u-section-4 .u-text-6 {margin: 9px 182px 0 auto}
.u-section-4 .u-image-3 {width: 167px; height: 184px; margin: -78px auto 0 0}
.u-section-4 .u-layout-cell-4 {min-height: 234px}
.u-section-4 .u-container-layout-4 {padding: 30px}
.u-section-4 .u-text-7 {text-transform: none; margin: 20px 49px 0 206px}
.u-section-4 .u-text-8 {margin: 9px auto 0 206px}
.u-section-4 .u-image-4 {width: 167px; height: 184px; object-position: 64.55% 50%; margin: -78px auto 0 0} 

@media (max-width: 1199px){ .u-section-4 .u-sheet-1 {min-height: 500px}
.u-section-4 .u-layout-wrap-1 {position: relative}
.u-section-4 .u-layout-cell-1 {min-height: 193px}
.u-section-4 .u-image-1 {width: 108px; height: 133px; margin-top: 0; margin-left: 36px}
.u-section-4 .u-text-1 {width: auto; margin-top: -139px; margin-right: 74px}
.u-section-4 .u-text-2 {width: auto; margin-top: 9px; margin-right: -12px; margin-left: 199px}
.u-section-4 .u-layout-cell-2 {min-height: 193px}
.u-section-4 .u-image-2 {width: 108px; height: 133px; margin-top: 0; margin-left: 36px}
.u-section-4 .u-text-3 {width: auto; margin-top: -133px; margin-right: 57px}
.u-section-4 .u-text-4 {width: auto; margin-right: 65px}
.u-section-4 .u-layout-cell-3 {min-height: 193px}
.u-section-4 .u-text-5 {width: auto; margin-top: 0; margin-right: 43px}
.u-section-4 .u-text-6 {width: auto; margin-right: 70px}
.u-section-4 .u-image-3 {width: 108px; height: 133px; margin-top: -57px; margin-left: 36px}
.u-section-4 .u-layout-cell-4 {min-height: 193px}
.u-section-4 .u-text-7 {width: auto; margin-top: 0; margin-right: 12px; margin-left: 203px}
.u-section-4 .u-text-8 {width: auto; margin-right: 127px; margin-left: auto}
.u-section-4 .u-image-4 {width: 108px; height: 133px; margin-top: -58px; margin-left: 36px} }

@media (max-width: 991px){ .u-section-4 .u-layout-cell-1 {min-height: 100px}
.u-section-4 .u-container-layout-1 {padding: 0}
.u-section-4 .u-image-1 {width: 64px; height: 90px; margin-top: 14px; margin-left: 14px}
.u-section-4 .u-text-1 {margin-top: -90px; margin-right: auto; margin-left: 92px}
.u-section-4 .u-text-2 {margin-right: 58px; margin-left: 92px}
.u-section-4 .u-layout-cell-2 {min-height: 100px}
.u-section-4 .u-image-2 {width: 64px; height: 90px; margin-top: -16px; margin-left: -16px}
.u-section-4 .u-text-3 {margin-top: -90px; margin-right: auto; margin-left: 62px}
.u-section-4 .u-text-4 {margin-right: auto; margin-left: 62px}
.u-section-4 .u-layout-cell-3 {min-height: 100px}
.u-section-4 .u-text-5 {margin-right: auto; margin-left: 62px}
.u-section-4 .u-text-6 {margin-right: auto; margin-left: 62px}
.u-section-4 .u-image-3 {width: 64px; height: 90px; margin-left: -16px}
.u-section-4 .u-layout-cell-4 {min-height: 100px}
.u-section-4 .u-text-7 {margin-top: 1px; margin-right: 43px; margin-left: 62px}
.u-section-4 .u-text-8 {margin-top: 8px; margin-right: auto; margin-left: 62px}
.u-section-4 .u-image-4 {width: 64px; height: 90px; margin-top: -57px; margin-left: -16px} }

@media (max-width: 767px){ .u-section-4 .u-sheet-1 {min-height: 686px}
.u-section-4 .u-layout-wrap-1 {margin-top: 46px; margin-bottom: 20px}
.u-section-4 .u-layout-cell-1 {min-height: 155px}
.u-section-4 .u-image-1 {margin-top: 33px; margin-left: 17px}
.u-section-4 .u-text-1 {margin-left: 100px}
.u-section-4 .u-text-2 {margin-right: 50px; margin-left: 100px}
.u-section-4 .u-layout-cell-2 {min-height: 155px}
.u-section-4 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-image-2 {margin-top: 3px; margin-left: 7px}
.u-section-4 .u-text-3 {margin-top: -88px; margin-left: 90px}
.u-section-4 .u-text-4 {margin-left: 90px}
.u-section-4 .u-layout-cell-3 {min-height: 155px}
.u-section-4 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-text-5 {margin-top: 5px; margin-left: 90px}
.u-section-4 .u-text-6 {margin-left: 91px}
.u-section-4 .u-image-3 {margin-top: -60px; margin-left: 7px}
.u-section-4 .u-layout-cell-4 {min-height: 155px}
.u-section-4 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-text-7 {margin-top: 0; margin-right: 235px; margin-left: 90px}
.u-section-4 .u-text-8 {margin-top: 9px; margin-left: 90px}
.u-section-4 .u-image-4 {margin-left: 7px} }

@media (max-width: 575px){ .u-section-4 .u-sheet-1 {min-height: 761px}
.u-section-4 .u-layout-wrap-1 {margin-top: 35px; margin-bottom: 60px}
.u-section-4 .u-layout-cell-1 {min-height: 130px}
.u-section-4 .u-image-1 {margin-top: 20px; margin-left: 11px}
.u-section-4 .u-text-1 {margin-top: -89px; margin-right: 96px; margin-left: auto}
.u-section-4 .u-text-2 {margin-right: -107px; margin-left: 107px}
.u-section-4 .u-layout-cell-2 {min-height: 130px}
.u-section-4 .u-image-2 {margin-top: -8px; margin-left: 0}
.u-section-4 .u-text-3 {margin-top: -85px; margin-right: 73px; margin-left: auto}
.u-section-4 .u-text-4 {margin-right: 81px; margin-left: auto}
.u-section-4 .u-layout-cell-3 {min-height: 144px}
.u-section-4 .u-text-5 {margin-right: 55px; margin-left: auto}
.u-section-4 .u-text-6 {margin-right: 82px; margin-left: auto}
.u-section-4 .u-image-3 {margin-top: -69px; margin-left: 0}
.u-section-4 .u-layout-cell-4 {min-height: 139px}
.u-section-4 .u-text-7 {margin-right: 41px; margin-left: 97px}
.u-section-4 .u-text-8 {margin-left: 97px}
.u-section-4 .u-image-4 {margin-top: -72px; margin-left: 1px} }